


.application__disclosure
{
	background-color: white;
}

.modal-body {
	margin: auto;
  }

  .mountted{
      margin-top: 3%;
  }



  .card{
    margin-bottom: 27px;
    margin-top: 27px;
    text-align: justify;
}


.fontStyle {
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}