.img-foot {
	position: absolute;
    left: 0;
    bottom: 10px;
}

.footer {
  z-index: 0;
}
.pdfbtn {
  color: blue;
  border:none;
  background: transparent;
  text-decoration: underline;
  width: auto;
  padding: 1rem;
  margin: 0px;
}

