<div class="main">
  <div class="form-div">
    <div class="col-12">
      <header class="header-div">
        <h1 class="header-label">My Dashboard</h1>
      </header>

      <div class="user__dashboard">
        <button type="button" class="btn" (click) = "newlead()">
          <h2>New Lead!</h2>
        </button>

        <button type="button" class="btn" >
          <h2>New Request!</h2>
        </button>

        <button type="button" class="btn" (click) = "followUp()">
          <h2>Follow-ups</h2>
        </button>

        <button type="button" class="btn">
          <h2>Amendments</h2>
        </button>




      </div>
    </div>
  </div>
</div>
