<div class="main">
  <section class="main__signup">

      <header class="header-div">
          <h1 class="header-label">Change Password</h1>
      </header>

    <div class="signup">

      <form
        class="signup__formContainer"
        name="form"
      >
      <div class="row mt-2 gx-5">
          <div
            id="errorLabel"
            class="alert alert-danger"
            *ngIf = "checkEmail"
            >
            {{showErrorMsg}}
          </div>
      </div>

      <div class="alert alert-success" *ngIf = "showSuccessMsg">
        {{ successMessage }}
      </div>

      <div class="signup__fieldContainer mt-3 signup__password">

          <input
            placeholder="Enter Old Password"
            class="user__font form-control"
            [type]="showPassword ? 'text' : 'password'"
            id="oldpassword"
            name="oldpassword"
            [(ngModel)]="password.oldPassword"
          />
          <span (click)="showPassword = !showPassword"
            ><i
              style="font-size: 1.7rem"
              class="las la-eye"

              id="eye"
            ></i
          ></span>
        </div>
        <div class="signup__fieldContainer mt-3 signup__password">

          <input
            class="user__font form-control"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Enter New Password"
            id="password"
            name="password"
            [(ngModel)]="password.newPassword"
          />
        </div>
        <div class="signup__fieldContainer mt-3 signup__password">

          <input
            class="user__font form-control"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Confirm Password"
            id="password1"
            name="password1"
          />
        </div>

        <button
          type="submit"
          name="signup_vetzu"
          id="add_user"
          class="btn btn-active"
          (click) = "changePassword()"
        >
          Reset Password

          <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>

        </button>

      </form>
    </div>
  </section>
</div>
