<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<html>

   
    <body>
        <main class="main">
            


            
            <section class="form-div">
                <header class="header-div">
                    <h1 class="header-label">Sign the agreements</h1>
                    
                </header>
                   
                <div class="row">
                    <div class="col-md-4 d-flex mt-5 text-center">
                        <input type="submit" type="submit" value="Master Service Agreement (MSA)" class="btn btn-active square-btn" id="sign_cbsv" />
                      </div>
                    </div>
                    <div class="row">
                        

                        <div class="col-md-4 d-flex mt-5 text-center">
                            
                            <input type="submit" type="submit" value="Consent Based Social Security Number Verification (CBSV) Service" class="btn btn-active square-btn" id="sign_cbsv" (click) = "openDocu()"/>
                            
                            
                            
                          </div>

                          
                          


                    </div>
                    
                        <div class="row">
                            <div class="col-md-4 d-flex mt-5 text-center">
                                <input type="submit" type="submit" value="Substance Abuse Testing (SAT) Service" class="btn btn-active square-btn" id="sign_cbsv" />
                              </div>
                              </div>
               

                    <div class="col-12 text-center mt-5">
                        <button id="submitButton" type="submit" class="btn btn-active" (click)="signed()" [disabled]="isDisabled" >Signed</button>
                    </div>


        
            </section>

            




        </main>







    </body>




</html>