<div class="main">
  <div class="form-div">
    <div class="col-12">
      <header class="header-div">
        <h1 class="header-label">My Dashboard</h1>
      </header>

      <div class="user__dashboard">
        <button type="button" class="dashboard-btn" (click) = "newprovider()">
          <h2 class="h22">New Provider</h2>
        </button>

        <button type="button" class="dashboard-btn" (click) = "providerlist()">
          <h2 class="h22">Providers</h2>
        </button>

        <button type="button" class="dashboard-btn" (click) ="servicelist()">
          <h2 class="h22">Services</h2>
        </button>

        <button type="button" class="dashboard-btn" (click) = "usermanagement()">
          <h2 class="h22">User Management</h2>
        </button>

        <button type="button" class="dashboard-btn" (click) = "userGroups()">
          <h2 class="h22">User Groups</h2>
        </button>


        <button type="button" class="dashboard-btn" (click) = "reportManage()">
          <h2 class="h22">Report Management</h2>
        </button>

        <button type="button" class="dashboard-btn" (click) = "manageMenu()">
          <h2 class="h22">Manage Menus</h2>
        </button>


      </div>
    </div>
  </div>
</div>
