<main class="main">
  <section class="main__signup">
    <div class="signup">
      <h4 class="signup__welcome">
  <i>Welcome to </i>
  <span><img src="./assets/images/logo.png" class="signup__logo" alt=""/></span>
      </h4>
      <h3 class="signup__create fw-normal" align="center" >We have sent a verification email. Please check your inbox and Sign-in after verifying.</h3>
<a routerLink="/login"> <input type="submit" value="Sign In" class="loginBox__loginbtn" /></a>
  </div>
</section>
</main>

