

<div class="form-div modal-body " id="sign-CBSV">
<table>
<tr>
<th>

Summary of Consumer Rights Under the Fair Credit Reporting Act


</th>
</tr><tr>
<td>
<p>
The federal <b>Fair Credit Reporting Act (FCRA)</b> promotes the accuracy, fairness, and privacy of information in the files of consumer reporting agencies. There are many types of consumer reporting agencies, including credit bureaus and specialty agencies (such as agencies that sell information about check writing histories, medical records, and rental history records). Here is a summary of your major rights under the FCRA. <b> For more information, including information about additional rights, go to:<u> www.consumerfinance.gov/learnmore </u> or write to: Consumer Financial Protection Bureau, 1700 G Street N.W., Washington, DC 20552.</b>
</p>

<ul>
<li><b>You must be told if information in your file has been used against you.</b> Anyone who uses a credit report or another type of consumer report to deny your application for credit, insurance, or employment—or to take another adverse action against you—must tell you, and must give you the name, address, and phone number of the agency that provided the information.</li>
<li><b>You have the right to know what is in your file.</b> You may request and obtain all the information about you in the files of a consumer reporting agency (your “file disclosure”). You will be required to provide proper identification, which may include your Social</li>
<li>a person has taken adverse action against you because of information in your credit report;</li>
<li>you are the victim of identity theft and place a fraud alert in your file;</li>
<li>your file contains inaccurate information as a result of fraud;</li>
<li>you are on public assistance;</li>
<li>you are unemployed but expect to apply for employment within 60 days.</li>
In addition, all consumers are entitled to one free disclosure every 12 months upon request from each nationwide Credit Bureau and from nationwide specialty consumer reporting agencies. See <u>www.consumerfinance.gov/learnmore</u> for additional information.
<br><br>
<li><b>You have the right to ask for a credit score.</b> Credit scores are numerical summaries of your credit-worthiness based on information from credit bureaus. You may request a credit score from consumer reporting agencies that create scores or distribute scores used in residential real property loans, but you will have to pay for it. In some mortgage transactions, you will receive credit score information for free from the mortgage lender.</li>
<li><b>You have the right to dispute incomplete or inaccurate information.</b> If you identify information in your file that is incomplete or inaccurate, and report it to the consumer reporting agency, the agency must investigate unless your dispute is frivolous. See <u>www.consumerfinance.gov/learnmore</u> for an explanation of dispute procedures.</li>
<li><b>Consumer reporting agencies must correct or delete inaccurate, incomplete, or unverifiable information.</b> Inaccurate, incomplete or unverifiable information must be removed or corrected, usually within 30 days. However, a consumer reporting agency may continue to report information it has verified as accurate.</li>
<li><b>Consumer reporting agencies may not report outdated negative information.</b> In most cases, a consumer reporting agency may not report negative information that is more than seven years old, or bankruptcies that are more than 10 years old.</li>
<li><b>Access to your file is limited.</b> A consumer reporting agency may provide information about you only to people with a valid need -- usually to consider an application with a creditor, insurer, employer, landlord, or other business. The FCRA specifies those with a valid need for access.</li>
<li><b>You must give your consent for reports to be provided to employers.</b> A consumer reporting agency may not give out information about you to your employer, or a potential employer, without your written consent given to the employer. Written consent generally is not required in the trucking industry. For more information, go to <u>www.consumerfinance.gov/learnmore.</u></li>
<li><u>You may limit “prescreened” offers of credit and insurance you get based on information in
your credit report.</u> Unsolicited “prescreened offers” for credit and insurance must include a toll-free phone number you can call if you choose to remove your name and address from the lists these offers are based on. You may opt-out with the nationwide credit bureaus at 1-888-567-8688.</li>
<li><b>The following FCRA right applies with respect to nationwide consumer reporting agencies:</b></li>
</ul>

</td>

</tr>
<tr><th>CONSUMERS HAVE THE RIGHT TO OBTAIN A SECURITY FREEZE</th></tr>
<tr>
<td>
<b>You have a right to place a “security freeze” on your credit report, which will prohibit a consumer reporting agency from releasing information in your credit report without your express authorization.</b> The security freeze is designed to prevent credit, loans, and services from being approved in your name without your consent. However, you should be aware
that using a security freeze to take control over who gets access to the personal and financial information in your credit report may delay, interfere with, or prohibit the timely approval of any subsequent request or application you make regarding a new loan, credit, mortgage, or any other account involving the extension of credit.
</td>
</tr>
<tr>
<td>
As an alternative to a security freeze, you have the right to place an initial or extended fraud alert on your credit file at no cost. An initial fraud alert is a 1-year alert that is placed on a consumer’s credit file. Upon seeing a fraud alert display on a consumer’s credit file, a business is required to take steps to verify the consumer’s identity before extending new credit. If you are a victim of identity theft, you are entitled to an extended fraud alert, which is a fraud alert lasting 7 years.
<br>
A security freeze does not apply to a person or entity, or its affiliates, or collection agencies acting on behalf of the person or entity, with which you have an existing account that requests information in your credit report for the purposes of reviewing or collecting the account. Reviewing the account includes activities related to account maintenance, monitoring, credit line increases, and account upgrades and enhancements.
</td>
</tr>
<tr>
<td>
<ul>
<li><b>You may seek damages from violators.</b> If a consumer reporting agency, or, in some cases, a user of consumer reports or a furnisher of information to a consumer reporting agency violates the FCRA, you may be able to sue in state or federal court.</li>
<br><br>
<li><b>Identity theft victims and active duty military personnel have additional rights.</b> For more information, visit www.consumerfinance.gov/learnmore.</li>
<li><b>States may enforce the FCRA, and many states have their own consumer reporting laws. In some cases, you may have more rights under state law. For more information, contact your state or local consumer protection agency or your state Attorney General. For information about your federal rights, contact</b></li>

</ul>

</td>

</tr>
</table>


<table class="contactTable">
<tr>
<th width="50%">TYPE OF BUSINESS:</th>
<th width="50%">CONTACT:</th>
</tr>
<tr>
<td>
1.a. Banks, savings associations, and credit unions with total assets of over $10 billion and their affiliates<br><br>
b. Such affiliates that are not banks, savings associations, or credit unions also should list, in addition to the CFPB:

</td>
<td>
a. Consumer Financial Protection Bureau<br>
1700 G Street NW<br>
Washington, DC 20552<br><br>
b. Federal Trade Commission: Consumer Response Center--FCRA<br>
Washington, DC 20580<br>
(877) 382- 4357<br>
</td>
</tr>

<tr>
<td>
2. To the extent not included in item 1 above:<br>
a. National banks, federal savings associations, and federal branches and federal agencies of foreign banks<br><br>
b. State member banks, branches and agencies of foreign banks (other than federal branches, federal agencies, and Insured State Branches of Foreign Banks), commercial lending companies owned or controlled by foreign banks, and <br><br> organizations operating under section 25 or 25A of the Federal Reserve Act<br><br>
c. Nonmember Insured Banks, Insured State Branches of Foreign
Banks, and insured state savings associations<br><br>
d. Federal Credit Unions
</td>
<td>

a. Office of the Comptroller of the Currency<br>
Customer Assistance Group<br>
1301 McKinney Street, Suite 3450<br><br>
Houston, TX 77010-9050<br>
b. Federal Reserve Consumer Help Center<br>
P.O. Box 1200<br>
Minneapolis, MN 55480<br><br><br>
c. FDIC Consumer Response Center<br>
1100 Walnut Street, Box #11<br>
Kansas City, MO 64106<br><br>
d. National Credit Union Administration<br>
Office of Consumer Protection (OCP)<br>
Division of Consumer Compliance and Outreach (DCCO)<br>
1775 Duke Street<br>
Alexandria, VA 22314<br>

</td>
</tr>

<tr>
<td>3. Air carriers</td>
<td>
Asst. General Counsel for Aviation Enforcement & Proceedings<br>
Aviation Consumer Protection Division<br>
Department of Transportation<br>
1200 New Jersey Avenue, S.E.<br>
Washington, DC 20590<br>
</td>
</tr>

<tr>
<td>4. Creditors Subject to the Surface Transportation Board</td>
<td>
Office of Proceedings, Surface Transportation Board<br>
Department of Transportation<br>
395 E. Street, S.W.<br>
Washington, DC 20423
</td>
</tr>

<tr>
<td>5. Creditors Subject to Packers and Stockyards Act, 1921</td>
<td>Nearest Packers and Stockyards Administration area supervisor</td>
</tr>

<tr>
<td>6. Small Business Investment Companies</td>
<td>
Associate Deputy Administrator for Capital Access<br>
United States Small Business Administration<br>
409 Third Street, SW, 8th Floor<br>
Washington, DC 20416<br>
</td>
</tr>

<tr>
<td>7. Brokers and Dealers</td>
<td>
Securities and Exchange Commission<br>
100 F St., N.E.<br>
Washington, DC 20549<br>
</td>
</tr>

<tr>
<td>
<br><br>
8. Federal Land Banks, Federal Land Bank Associations, Federal<br>
Intermediate Credit Banks, and Production Credit Associations
</td>
<td>
Farm Credit Administration<br>
1501 Farm Credit Drive<br>
McLean, VA 22102-5090<br>
</td>
</tr>

<tr>
<td>
9. Retailers, Finance Companies, and All Other Creditors Not Listed Above
</td>
<td>
FTC Regional Office for region in which the creditor operates or<br>
Federal Trade Commission: Consumer Response Center – FCRA<br>
Washington, DC 20580<br>
(877) 382-4357
</td>
</tr>

</table>

<table>
<tr><th>Notice of Users of Consumer Reports: Obligations of Users under FCRA</th></tr>
<tr>
<td><b>All users of consumer reports must comply with all applicable regulations. Information about applicable regulations currently in effect can be found at the Consumer Financial Protection Bureau’s website,<u> www.consumerfinance.gov/learnmore.</u></b></td>
</tr>

<tr>
<td>The Fair Credit Reporting Act (FCRA), 15 U.S.C. §1681-1681y, requires that this notice be provided to inform users of consumer reports of their legal obligations. State law may impose additional requirements. The text of the FCRA is set forth in full at the Consumer Financial Protection Bureau’s (CFPB) website at <u>www.consumerfinance.gov/learnmore</u>. At the end of this document is a list of United States Code citations for the FCRA. Other information about user duties is also available at the CFPB’s website. <b>Users must consult the relevant provisions of the FCRA for details about their obligations under the FCRA.</b></td>
</tr>

<tr>
<td>The first section of this summary sets forth the responsibilities imposed by the FCRA on all users of consumer reports. The subsequent sections discuss the duties of users of reports that contain specific types of information, or that are used for certain purposes, and the legal consequences of violations. If you are a furnisher of <br><br> information to a consumer reporting agency (CRA), you have additional obligations <br><br> and will receive a separate notice from the CRA describing your duties as a furnisher.</td>
</tr>

</table>

<table>
<tr>
<td><b>I. OBLIGATIONS OF ALL USERS OF CONSUMER REPORTS</b></td>
</tr>

<tr>
<td><u><b>A. Users Must Have a Permissible Purpose</b></u></td>
</tr>

<tr>
<td>Congress has limited the use of consumer reports to protect consumers’ privacy. All users must have a permissible purpose under the FCRA to obtain a consumer report. Section 604 contains a list of the permissible purposes under the law. These are:</td>
</tr>

<tr>
<td>
<ul>
	<li>As ordered by a court or a federal grand jury subpoena. <u>Section 604(a)(1)</u></li>
	<li>As instructed by the consumer in writing. <u>Section 604(a)(2)</u></li>
	<li>For the extension of credit as a result of an application from a consumer, or the review or collection of a consumer’s account. <u>Section 604(a)(3)(A)</u></li>
	<li>For employment purposes, including hiring and promotion decisions, where the consumer has given written permission. Sections 604(a)(3)(B) and 604(b)</li>
	<li>For the underwriting of insurance as a result of an application from a consumer. <u>Section 604(a)(3)(C)</u></li>
	<li>When there is a legitimate business need, in connection with a business transaction that is initiated by the consumer. <u>Section 604(a)(3)(F)(i)</u></li>
	<li>To review a consumer’s account to determine whether the consumer continues to meet the terms of the account. <u>Section 604(a)(3)(F)(ii)</u></li>
	<li>To determine a consumer’s eligibility for a license or other benefit granted by a governmental instrumentality required by law to consider an applicant’s financial responsibility or status. <u>Section 604(a)(3)(D)</u></li>
	<li>For use by a potential investor or servicer, or current insurer, in a valuation or assessment of the credit or prepayment risks associated with an existing credit obligation. <u>Section 604(a)(3)(E)</u></li>
	<li>For use by state and local officials in connection with the determination of child support payments, or modifications and enforcement thereof. <u>Sections 604(a)(4) and 604(a)(5)</u></li>
</ul>

</td>
</tr>

<tr>
<td>In addition, creditors and insurers may obtain certain consumer report information for the purpose of making “prescreened” unsolicited offers of credit or insurance. <u>Section 604(c)</u>. The particular obligations of users of “prescreened” information are described in Section II below.</td>
</tr>
</table>

<table>
<tr>
<td><b><u>B. Users Must Provide Certifications</u></b></td>
</tr>

<tr>
<td>Section 604(f) prohibits any person from obtaining a consumer report from a consumer reporting agency (CRA) unless the person has certified to the CRA the permissible purpose(s) for which the report is being obtained and certifies that the report will not be used for any other purpose.</td>
</tr>
</table>

<table>
<tr>
	<td><b><u>C. Users Must Notify Consumers When Adverse Actions Are Taken</u></b></td>
</tr>
<tr>
	<td>The term “adverse action” is defined very broadly by Section 603. “Adverse actions” include all business, credit, and employment actions affecting consumers that can be considered to have a negative impact as defined by Section 603(k) of the FCRA – such as denying or canceling credit or insurance, or denying employment or promotion. No adverse action occurs in a credit transaction where the creditor makes a counteroffer that is accepted by the consumer.</td>
</tr>
<tr>
	<td><b>1. Adverse Actions Based on Information Obtained From a CRA</b></td>
</tr>
<tr>
	<td>If a user takes any type of adverse action as defined by the FCRA that is based at least in part on information contained in a consumer report, Section 615(a) requires the user to notify the consumer. The notification may be done in writing, orally, or by electronic means. It must include the following:</td>
</tr>

<tr>
	<td>
	<ul><li>The name, address, and telephone number of the CRA (including a toll-free telephone number, if it is a nationwide CRA) that provided the report.</li>
	<li>A statement that the CRA did not make the adverse decision and is not able to explain why the decision was made.</li>
	<li>A statement setting forth the consumer’s right to obtain a free disclosure of the consumer’s file from the CRA if the consumer makes a request within 60 days.</li>
	<li>A statement setting forth the consumer’s right to dispute directly with the CRA the accuracy or completeness of any information provided by the CRA.</li>
	</ul>
	
	</td>
</tr>
<tr>
	<td><b>2. Adverse Actions Based on Information Obtained From Third Parties Who Are Not Consumer Reporting Agencies</b></td>
</tr>

<tr>
	<td>If a person denies (or increases the charge for) credit for personal, family, or household purposes based either wholly or partly upon information from a person other than a CRA, and the information is the type of consumer information covered by the FCRA, Section 615(b)(1) requires that the user clearly and accurately disclose to the consumer his or her right to be told the nature of the information that was relied upon if the consumer makes a written request within 60 days of notification. The user must provide the disclosure within a reasonable period of time following the consumer’s written request.</td>
</tr>

<tr>
	<td><b>3. Adverse Actions Based on Information Obtained From Affiliates</b></td>
</tr>

<tr>
	<td>If a person takes an adverse action involving insurance, employment, or a credit transaction initiated by the consumer, based on information of the type covered by the FCRA, and this information was obtained from
an entity affiliated with the user of the information by common ownership or control, Section 615(b)(2) requires the user to notify the consumer of the adverse action. The notice must inform the consumer that he or she may obtain a disclosure of the nature of the information relied upon by making a written request within 60 days of receiving the adverse action notice. If the consumer makes such a request, the user must disclose the nature of the information not later than 30 days after receiving the request. If consumer report information is shared among affiliates and then used for an adverse action, the user must make an adverse action disclosure as set forth in I.C.1 above.</td>
</tr>

<tr>
	<td><b><u>D. Users Have Obligations When Fraud and Active Duty Military Alerts are in Files</u></b></td>
</tr>

<tr>
	<td>When a consumer has placed a fraud alert, including one relating to identity theft, or an active duty military alert with a nationwide consumer reporting agency as defined in Section 603(p) and resellers, Section 605A(h) imposes limitations on users of reports obtained from the consumer reporting agency in certain circumstances, including the establishment of a new credit plan and the issuance of additional credit cards. For initial fraud alerts and active duty alerts, the user must have reasonable policies and procedures in place to form a belief that the user knows the identity of the applicant or contact the consumer at a telephone number specified by the consumer; in the case of extended fraud alerts, the user must contact the consumer in accordance with the contact information provided in the consumer’s alert.</td>
</tr>


<tr>
	<td><b><u>E. Users Have Obligations When Notified of an Address Discrepancy</u></b></td>
</tr>

<tr>
	<td>Section 605(h) requires nationwide CRAs, as defined in Section 603(p), to notify users that request reports when the address for a consumer provided by the user in requesting the report is substantially different from the addresses in the consumer’s file. When this occurs, users must comply with regulations specifying the procedures to be followed. Federal regulations are available at <u>www.consumerfinance.gov/learnmore</u>.</td>
</tr>

<tr>
	<td><b><u>F. Users Have Obligations When Disposing of Records</u></b></td>
</tr>

<tr>
	<td>Section 628 requires that all users of consumer report information have in place procedures to properly dispose of records containing this information. Federal regulations are available at www.consumerfinance.gov/learnmore.</td>
</tr>



</table>

<table>
<tr>
	<td><b>II. CREDITORS MUST MAKE ADDITIONAL DISCLOSURES</b></td>
</tr>

<tr>
	<td>If a person uses a consumer report in connection with an application for, or a grant, extension, or provision of, credit to a consumer on material terms that are materially less favorable than the most favorable terms available to a substantial proportion of consumers from or through that person, based in whole or in part on a consumer report, the person must provide a risk-based pricing notice to the consumer in accordance with regulations prescribed by the CFPB.</td>
</tr>

<tr>
	<td>Section 609(g) requires a disclosure by all persons that make or arrange loans secured by residential real property (one to four units) and that use credit scores. These persons must provide credit scores and other information about credit scores to applicants, including the disclosure set forth in Section 609(g)(1)(D) (“Notice to the Home Loan Applicant”).</td>
</tr>

</table>

<table>
<tr>
	<td><b>III. OBLIGATIONS OF USERS WHEN CONSUMER REPORTS ARE OBTAINED FOR EMPLOYMENT PURPOSES</b></td>
</tr>

<tr>
	<td><b><u>A. Employment Other Than in the Trucking Industry</u></b></td>
</tr>

<tr>
	<td>If the information from a CRA is used for employment purposes, the user has specific duties, which are set forth in Section 604(b) of the FCRA. The user must:</td>
</tr>
<tr>
	<td></td>
</tr>
<tr>
	<td>
		<ul><li>Make a clear and conspicuous written disclosure to the consumer before the report is obtained, in a document that consists solely of the disclosure, that a consumer report may be obtained.</li>
		<li>Obtain from the consumer prior written authorization. Authorization to access reports during the term of employment may be obtained at the time of employment.</li>
		<li>Certify to the CRA that the above steps have been followed, that the information being obtained will not be used in violation of any federal or state equal opportunity law or regulation, and that, if any adverse action is to be taken based on the consumer report, a copy of the report and a summary of the consumer’s rights will be provided to the consumer.</li>
		<li>Before taking an adverse action, the user must provide a copy of the report to the consumer as well as the summary of consumer’s rights (The user should receive this summary from the CRA.) A Section 615(a) adverse action notice should be sent after the adverse action is taken.</li>
		</ul>
	</td>
</tr>

<tr>
	<td>An adverse action notice also is required in employment situations if credit information (other than transactions and experience data) obtained from an affiliate is used to deny employment. Section 615(b)(2).</td>
</tr>

<tr>
	<td>The procedures for investigative consumer reports and employee misconduct investigations are set forth below.</td>
</tr>

<tr>
	<td><b><u>B. Employment in the Trucking Industry</u></b></td>
</tr>

<tr>
	<td>Special rules apply for truck drivers where the only interaction between the consumer and the potential employer is by mail, telephone, or computer. In this case, the consumer may provide consent orally or electronically, and an adverse action may be made orally, in writing, or electronically. The consumer may obtain a copy of any report relied upon by the trucking company by contacting the company.</td>
</tr>

</table>

<table>
<tr>
	<td><b>IV. OBLIGATIONS WHEN INVESTIGATIVE CONSUMER REPORTS ARE USED</b></td>
</tr>

<tr>
	<td>Investigative consumer reports are a special type of consumer report in which information about a consumer’s character, general reputation, personal characteristics, and mode of living is obtained through personal interviews by an entity or person that is a consumer reporting agency. Consumers who are the subjects of such reports are given special rights under the FCRA. If a user intends to obtain an investigative consumer report, Section 606 requires the following:</td>
</tr>

<tr>
	<td>
		<ul>
			<li>The user must disclose to the consumer that an investigative consumer report may be obtained. This must be done in a written disclosure that is mailed, or otherwise delivered, to the consumer at some time before or not later than three days after the date on which the report was first requested. The disclosure must include a statement informing the consumer of his or her right to request additional disclosures of the nature and scope of the investigation as described below, and the summary of consumer rights required by Section 609 of the FCRA. (The summary of consumer rights will be provided by the CRA that conducts the investigation.)</li>
			<li>The user must certify to the CRA that the disclosures set forth above have been made and that the user will make the disclosure described below. Upon the written request of a consumer made within a reasonable period of time after the disclosures required above, the user must make a complete disclosure of the nature and scope of the investigation. This must be made in a written statement that is mailed or otherwise delivered, to the consumer no later than five days after the date on which the request was received from the consumer or the report was first requested, whichever is later in time.</li>
		</ul>
	</td>
</tr>

</table>

<table>
<tr>
	<td><b>V. SPECIAL PROCEDURES FOR EMPLOYEE INVESTIGATIONS</b></td>
</tr>

<tr>
	<td>Section 603(x) provides special procedures for investigations of suspected misconduct by an employee or for compliance with Federal, state or local laws and regulations or the rules of a self-regulatory organization, and compliance with written policies of the employer. These investigations are not treated as consumer reports so long as the employer or its agent complies with the procedures set forth in Section 603(x), and a summary describing the nature and scope of the inquiry is made to the employee if an adverse action is taken based on the investigation. </td>
</tr>
</table>
<table>
	<br><br>
<tr>
	<td><b>VI. OBLIGATIONS OF USERS OF MEDICAL INFORMATION</b></td>
</tr>
<tr>
	<td>Section 604(g) limits the use of medical information obtained from consumer reporting agencies (other than payment information that appears in a coded form that does not identify the medical provider). If the information is to be used for an insurance <br><br> transaction, the consumer must give consent to the user of the report or the information must be coded. If the report is to be used for employment purposes – or in connection with a credit transaction (except as provided in federal regulations) – the consumer must provide specific written consent and the medical information must be relevant. Any user who receives medical information shall not disclose the information to any other person (except where necessary to carry out the purpose for which the information was disclosed, or as permitted by statute, regulation, or order).</td>
</tr>

</table>

<table>
<tr>
	<td><b>VII. OBLIGATIONS OF USERS OF “PRESCREENED” LISTS</b></td>
</tr>

<tr>
	<td>The FCRA permits creditors and insurers to obtain limited consumer report information for use in connection with unsolicited offers of credit or insurance under certain circumstances. Sections 603(1), 604(c), 604(e), and 614(d). This practice is known as “preConsumer” and typically involves obtaining from a CRA a list of consumers who meet certain pre-established criteria. If any person intends to use prescreened lists, that person must (1) before the offer is made, establish the criteria that will be relied upon to make the offer and grant credit or insurance, and (2) maintain such criteria on file for a three-year period beginning on the date on which the offer is made to each consumer. In addition, any user must provide with each written solicitation a clear and conspicuous statement that:</td>
</tr>

<tr>
	<td>
		<ul>
			<li>Information contained in a consumer’s CRA file was used in connection with the transaction.</li>
			<li>The consumer received the offer because he or she satisfied the criteria for credit worthiness or insurability used to screen for the offer.</li>
			<li>Credit or insurance may not be extended if, after the consumer responds, it is determined that the consumer does not meet the criteria used for Consumer or any applicable criteria bearing on credit worthiness or insurability, or the consumer does not furnish required collateral.</li>
			<li>The consumer may prohibit the use of information in his or her file in connection with future prescreened offers of credit or insurance by contacting the notification system established by the CRA that provided the report. The statement must include the address and toll-free telephone number of the appropriate notification system.</li>
			<li>In addition, the CFPB has established the format, type size, and manner of the disclosure required by Section 615(d), with which users must comply. The regulation is 12 CFR 1022.54.</li>
		</ul>
	</td>
</tr>
</table>

<table>
<tr>
	<td><b>VIII. OBLIGATIONS OF RESELLERS</b></td>
</tr>
<tr>
	<td><b><u>A. Disclosure and Certification Requirements</u></b></td>
</tr>
<tr>
	<td>Section 607(e) requires any person who obtains a consumer report for resale to take the following steps:</td>
</tr>

<tr>
	<td>
		<ul>
			<li>Disclose the identity of the end-user to the source CRA.</li>
			<li>Identify to the source CRA each permissible purpose for which the report will be furnished to the end-user.</li>
			<li>Establish and follow reasonable procedures to ensure that reports are resold only for permissible purposes, including procedures to obtain:
			<br>
			(1) the identity of all end-users;
			<br>
			(2) certifications from all users of each purpose for which reports will be used; and
			<br>
			(3) certifications that reports will not be used for any purpose other than the purpose(s) specified to the reseller. Resellers must make reasonable efforts to verify this information before selling the report.
			</li>
		</ul>
	</td>
</tr>

<tr>
	<td><b><u>B. Reinvestigations by Resellers</u></b></td>
</tr>

<tr>
	<td>Under Section 611(f), if a consumer disputes the accuracy or completeness of information in a report prepared by a reseller, the reseller must determine whether this <br><br> is a result of an action or omission on its part and, if so, correct or delete the information. If not, the reseller must send the dispute to the source CRA for reinvestigation. When any CRA notifies the reseller of the results of an investigation, the reseller must immediately convey the information to the consumer.</td>
</tr>
<br><br>
<tr>
	<td><b><u>C. Fraud Alerts and Resellers</u></b></td>
</tr>
<tr>
	<td>Section 605A(f) requires resellers who receive fraud alerts or active duty alerts from another consumer reporting agency to include these in their reports.</td>
</tr>
</table>

<table>
<tr>
	<td><b>IX. LIABILITY FOR VIOLATIONS OF THE FCRA</b></td>
</tr>

<tr>
	<td>Failure to comply with the FCRA can result in state government or federal government enforcement actions, as well as private lawsuits. Sections 616, 617, and 621. In addition, any person who knowingly and willfully obtains a consumer report under false pretenses may face criminal prosecution. Section 619.</td>
</tr>

<tr>
	<td><b>The CFPB’s website, <u>www.consumerfinance.gov/learnmore</u>, has more information about the FCRA, including publications for businesses and the full text of the FCRA.</b></td>
</tr>

</table>

</div>

<div class="d-flex mt-5">
           
	<button
  type="submit"
  name="sign"
  id="add_user"
  class="btn btn-active"
  (click) = "sign()"
  >Sign
  <div class="loader" *ngIf="isLoading$"></div>

</button>
</div>
