

        <main class="main" >
            <section class="form-div">

               

                <header class="header-div">
                    <h1 class="header-label">Add Group Action</h1>
                    
                </header>

                <div
                    id="errorLabel"
                    class="alert alert-danger text-center"
                    *ngIf = "menuMsgs"
                    >
                    {{msg}}
                </div>
                <div
                    id="errorLabel"
                    class="alert alert-success text-center"
                    *ngIf = "groupMenuMsgs"
                    >
                    {{msg}}
                </div>


                <form class="user_form container">

                    
                    <div class="row mt-4 gx-5">
                        <div class="col-md-4 mt-auto" >
                            <label
                            for="user-Fname"
                            class="form-label user__font fw-bold"
                            >Group Name</label
                            >
                            
                            <input
                            type="text"
                            class="form-control user__font"
                            placeholder="Group Name"
                            disabled
                            value="{{name}}"
                            
                            id="user-Fname"
                            name="firstName"
                           
                            
                            />
                            
                        </div>
                        
                       
                        
                        <div class="col-md-4 mt-auto" >
                            <label
                            for="user-group"
                            class="form-label user__font fw-bold"
                            >Menus</label
                            >
                            <select name="userType" [(ngModel)]="menuActionGroupRelation.menuId" [class.border-danger] = "!menuActionGroupRelation.menuId" (change)="isSubMenu($event)"    id="user-userType" class="form-control user__font">
                                <option value="" disabled>--Select--</option>
                                <option *ngFor = "let ser of menusData"  [ngValue]="ser.menuId">
                                    {{ser.name}}
                                </option>
                               
                              
                            </select>
                            
                        </div>


                          
                        <div class="col-md-4 mt-auto" >
                            <label
                            for="user-group"
                            class="form-label user__font fw-bold"
                            >Sub Menus</label
                            >
                            <select name="useType" [(ngModel)]="subMenuData.menuId" [class.border-danger] = "!subMenuData.menuId" [disabled] = "haveSub"  id="user-Type" class="form-control user__font">
                                <option value="" disabled>--Select--</option>
                                <option *ngFor = "let ser of submenus"  [ngValue]="ser.menuId">
                                    {{ser.name}}
                                </option>
                               
                              
                            </select>
                            
                        </div>



                    </div>  
                    <div class="row mt-4 gx-5">
                        <label
                        for="user-gr"
                        class="form-label user__font fw-bold"
                        >Supported Actions</label>

                        <div class="col-md-2 mt-auto" >
                           
                            
                            <input class="check__space" value="CREATE" type="checkbox"
                             id="createId" checked="checked" name="checked_services" >CREATE
                           
                            
                        </div>
                        <div class="col-md-2 mt-auto" >
                           
                            
                            <input class="check__space" value="UPDATE" type="checkbox" 
                             id="updateId" checked="checked" name="checked_services" >UPDATE
                            
                        </div>
                        <div class="col-md-2 mt-auto" >
                           
                            <input class="check__space" value="DELETE" type="checkbox" 
                            id="deleteId" checked="checked" name="checked_services" >DELETE
                            
                        </div>
                        <div class="col-md-2 mt-auto" >
                           
                            
                            <input class="check__space" value="VIEW" type="checkbox" 
                            id="viewId" checked="checked" name="checked_services" >VIEW
                            
                        </div>
                        


                    </div>
                  

                    
                    <div class=" mt-5">
                        <input type="submit" value="Add Action" class="btn btn-active" id="add_user" (click) = "submit()"/>
                        
                    </div>


                    <header class="header-div">
                        <h1 class="header-label">Existing Menus</h1>
                        
                    </header>



                    <mat-form-field fxFlex="40%">
                        <input matInput class="asas" type="text" (keyup)="doFilter($event.target.value)" >
                        <mat-placeholder class="placeholder">Search</mat-placeholder>
                      </mat-form-field>

                    <table mat-table [dataSource]="dataSource" matSort matSortStart="desc" class="table table-striped table-responsive-md btn-table">

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef>Menu Name </th>
                          <td mat-cell *matCellDef="let element" > {{element.name}} </td>
                        </ng-container>

                         <!-- Name Column -->
                         <ng-container matColumnDef="permission">
                            <th mat-header-cell *matHeaderCellDef>Menu Permission </th>
                            <td mat-cell *matCellDef="let element" > {{element.permission}} </td>
                          </ng-container>

                          <!-- Action Column -->
                          <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element" >  <button class="btn"><i class='fa fa-edit' style='font-size:20px;color: green;' (click)="editMenudata(element)"></i></button>
                                <button class="btn"><i class="fa fa-trash"style='font-size:20px;color:red' (click)="delMenuData(element)"></i></button>
                            </td>

                          </ng-container>

                          


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>

                      <i class="fa fa-spinner fa-spin spinner" *ngIf="loading"></i>

                      <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>

                   
                    
                </form>







            </section>

        </main>
