<main class="main">
    <section class="main__signup">

        <header class="header-div">
            <h1 class="header-label">Forget Password</h1>

        </header>
      <div class="signup">




        <form
          class="signup__formContainer"
          name="form"

        >

        <div class="row mt-2 gx-5">
            <div
              id="errorLabel"
              class="alert alert-danger"
              *ngIf = "checkEmail"
              >
              {{msg}}
            </div>
        </div>


          <div class="signup__fieldContainer mt-3 gx-5">
            <label
            for="user-Zip"
            class="form-label user__font fw-bold"
            >Enter Email</label
            >
            <input
              class=" user__font form-control"
              type="text"
              placeholder="Email Address"
              id="user-Email"
              name="email"
              [class.border-danger] = "checkEmail"


            />
          </div>



          <button
            type="submit"
            name="signup_vetzu"
            id="add_user"
            class="btn btn-active"
            (click) = "submit()"
          >
            Reset Password
          </button>
        </form>
      </div>
    </section>
  </main>
