<!DOCTYPE html>

<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script src="vendor/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.min.js"></script>
<html>
    <body>

        <main class="main" >
            <section class="main__user">
               

                    <header class="header__heading">
                        <h1 class="consent__heading">Documents</h1>
                        
                    </header>
                


                <form class="userData">
               
                

                <table datatable  class="table" >
                    <thead>
                      <tr class="heady">
                        <th>ID</th>
                        <th>Name</th>
                        
                      </tr>


                    
                    </thead>
                    <tbody>
                        <tr class="dbody">
                            <td>1</td>
                            <td>name</td>
                           
                            
                        </tr>
                        
                    </tbody>
                  </table>
                </form>
            </section>

        </main>

    </body>
</html>